

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #82a5ca;
    margin: 0px;
    background-size: auto;
    text-align: center;
    font-family: "orbitron", sans-serif;
}

#hero {
    min-height: 20vh;
    background-image: url("../../images/background-main.jpg");
    padding: 20px;
}

#hero h1 {
    text-shadow: 1px 1px 2px white;
}

#main-logo {
    width: 100px;
}

.btn-apply {
    padding: 7px 14px;
    border: none;
    border-radius: 0%;
    background-color: white;
    font-size: 18px;
    font-family: inherit;
}

#main {
    flex: 1;
}

#footer {
    min-height: 10vh;
    background-color: lightgray;
}

.underline {
    text-decoration: underline 3px;
}

